  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>TPMS 1</h3>
          <p><h4><span id="suhu1">0</span> &#176;C</h4></p>  
          <p><h4><span id="tekanan1">0</span> kPa</h4></p>
        </div>
        <div class="icon">
          <i class="ion ion-disc"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
            <h3>TPMS 2</h3>
            <p><h4><span id="suhu2">0</span> &#176;C</h4></p>  
            <p><h4><span id="tekanan2">0</span> kPa</h4></p>
        </div>
        <div class="icon">
          <i class="ion ion-disc"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
            <h3>TPMS 3</h3>
            <p><h4><span id="suhu3">0</span> &#176;C</h4></p>  
            <p><h4><span id="tekanan3">0</span> kPa</h4></p>
        </div>
        <div class="icon">
          <i class="ion ion-disc"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
            <h3>TPMS 4</h3>
            <p><h4><span id="suhu4">0</span> &#176;C</h4></p>  
            <p><h4><span id="tekanan4">0</span> kPa</h4></p>
        </div>
        <div class="icon">
          <i class="ion ion-disc"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
  </div>