
.panel {
  max-width: 800px;
  height: 350px;
  background: url(../images/car.svg) no-repeat center center;
  margin: 0 auto;
  background-size: 90%;
}

.circle1 {
width: 100px;
height: 100px;
line-height: 20px;
border-radius: 50%;
font-size: 20px;
color: #fff;
text-align: center;
background: #000;
display: inline-block;
margin : 0px 0px 0px 200px;
}
.circle2 {
width: 100px;
height: 100px;
line-height: 20px;
border-radius: 50%;
font-size: 20px;
color: #fff;
text-align: center;
display: inline-block;
background: #000;
margin : 0px 0px 0px 150px;
}
